body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent background */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 100px;
}

.hero {
    background-image: url('https://i.postimg.cc/90VJr92K/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    padding: 20px;
    border-radius: 10px;
}